                        /* колір основного тексту #212121 */
                        /* колір абзаців та пвдписів #757575 */
                        /* колір акцент #2196F3 */
                        /* другорядний колір rgba(255, 255, 255, 0.6) */
                        /* <style>
        /* WebStudio 
        
        .logo_header {
            position: absolute;
            width: 145px;
            height: 31px;
            left: 215px;
            top: 24px;
        }
        
        .logo1 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height 
            letter-spacing: 0.03em;
            color: #2196F3;
        }
        
        .logo2 {
            width: 145px;
            height: 31px;
            left: 215px;
            top: 24px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height 
            letter-spacing: 0.03em;
            color: black;
        }
      <div class="logo_header" onclick="location.href='#';" style="cursor: pointer;">
            <font class="logo1">Web</font>
            <font class="logo2">Studio</font>
        </div>
        <!--<<a href="" class="logo_header">
            <div>
                <font class="logo1">Web</font>
                <font class="logo2">Studio</font>
            </div>
        /a>-->
        */
                        
                         :root {
                            --primary-text-color: #757575;
                            --title-text-color: #212121;
                            --accent-color: #2196F3;
                            --secondary-text-color: rgba(255, 255, 255, 0.6);
                            --background-white-color: #f5f4fa;
                        }
                        
                        body {
                            font-family: 'Roboto', 'sans-serif';
                            color: var(--primary-text-color);
                            background: #fff;
                        }
                        
                        .list {
                            list-style: none;
                        }
                        /* Logo */
                        
                        .logo {
                            width: 145px;
                            height: 31px;
                            font-family: 'Raleway' cursive;
                            font-weight: 700;
                            font-size: 26px;
                            line-height: 1.2px;
                            letter-spacing: 0.03em;
                            color: var(--accent-color);
                        }
                        
                        .logo:hover {
                            color: var(--accent-color);
                        }
                        /* Site nav */
                        
                        .site-nav .link {
                            color: var(--title-text-color);
                            width: 145px;
                            height: 31px;
                            font-weight: 500;
                            font-size: 26px;
                            line-height: 1.2;
                            letter-spacing: 0.03em;
                        }
                        
                        .adres-info .info-mailto {
                            width: 135px;
                            height: 16px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.1px;
                            letter-spacing: 0.02em;
                            color: var(--accent-color);
                        }
                        
                        .adres-info .info-tel {
                            width: 122px;
                            height: 16px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.1px;
                            letter-spacing: 0.02em;
                            color: var(--primary-text-color);
                        }
                        
                        .site-nav .link:hover,
                        .site-nav .link:focus {
                            color: var(--accent-color);
                        }
                        /* Hero */
                        
                        .hero-title {
                            width: 696px;
                            height: 120px;
                            font-weight: 900;
                            font-size: 44px;
                            line-height: 1.4;
                            text-align: center;
                            letter-spacing: 0.06em;
                            text-transform: uppercase;
                            color: var(--title-text-color);
                        }
                        
                        .button {
                            color: var(--background-white-color);
                            background: var(--accent-color);
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 1.9;
                            display: flex;
                            letter-spacing: 0.06em;
                            left: 732px;
                            top: 440px
                        }
                        
                        .hero .button:hover,
                        .hero .button:focus {
                            color: var(--accent-color);
                        }
                        /* Skills */
                        
                        .section .title {
                            color: var(--title-text-color);
                            width: 270px;
                            height: 16px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 1.1;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                        }
                        
                        .section .skill {
                            width: 270px;
                            height: 75px;
                            left: 515px;
                            top: 800px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1.7;
                            letter-spacing: 0.03em;
                        }
                        
                        /* about*/
                        
                        .title about {
                            width: 376px;
                            height: 42px;
                            left: 612px;
                            top: 969px;
                            font-weight: 700;
                            font-size: 36px;
                            line-height: 1.2;
                            text-align: center;
                            letter-spacing: 0.03em;
                            color: var(--title-text-color);
                        }
                        
                        /* person list*/

                        .person list {
                            width: 151px;
                            height: 19px;
                            left: 275px;
                            top: 1925px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 1.2px;
                            text-align: center;
                            letter-spacing: 0.03em;
                            color: var(--title-text-color);
                        }
                        
                        .person list .profecion {
                            width: 147px;
                            height: 19px;
                            left: 577px;
                            top: 1954px;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 1.2;
                            text-align: center;
                            letter-spacing: 0.03em;
                            color: var(--primary-text-color);
                        }
                        
                        .introduction .title {
                            color: var(--title-text-color);
                        }
                        
                        .info-mailto:hover,
                        .info-mailto:focus {
                            color: var(--accent-color)s;
                        }
                        
                        .buttons {
                            color: var(--title-text-color);
                        }
                        
                        .filter .buttons :hover,
                        .filter .buttons :focus {
                            color: var(--accent-color);
                        }