                    /* колір основного тексту #212121 */
                    /* колір абзаців та пвдписів #757575 */
                    /* колір акцент #2196F3 */
                    /* другорядний колір rgba(255, 255, 255, 0.6) */
                    /* <style>*/
                    
                     :root {
                        --primary-text-color: #757575;
                        --title-text-color: #212121;
                        --footer-background-color: #2F303a;
                        --accent-color: #2196F3;
                        --secondary-text-color: rgba(255, 255, 255, 0.6);
                        --background-white-color: #FFFFFF;
                        --team-section-color: #f5f4fa;
                        --studio-color: #000;
                    }
                    
                    body {
                        font-family: 'Roboto', 'sans-serif';
                        color: var(--primary-text-color);
                        background: var(--background-white-color);
                        letter-spacing: 00.03em;
                    }
                    
                    .list {
                        list-style: none;
                    }
                    /* HEADER*/
                    
                    .site-nav a {
                        color: var(--title-text-color);
                        width: 68px;
                        height: 16px;
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.14;
                        letter-spacing: 0.02em;
                        text-decoration: none;
                    }
                    
                    .site-nav :hover,
                    .adres-info :hover {
                        color: var(--accent-color);
                    }
                    
                    .logo {
                        font-family: Oleo Script;
                        font-size: 26px;
                        line-height: 1.19px;
                        letter-spacing: 0.03em;
                        color: var(--accent-color);
                        text-decoration: none;
                    }
                    
                    .studio {
                        color: var(--studio-color);
                        font-family: Raleway;
                        font-size: 26px;
                        line-height: 1.19;
                        text-decoration: none;
                    }
                    
                    .adres-info a {
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.14px;
                        letter-spacing: 0.02em;
                        text-decoration: none;
                        color: var(--primary-text-color)
                    }
                    /* HEADER*/
                    /* Hero */
                    
                    .hero {
                        background-color: var(--footer-background-color);
                        color: var(--background-white-color);
                    }
                    
                    .hero-title {
                        width: 696px;
                        height: 120px;
                        top: 280px;
                        font-weight: 900;
                        font-size: 44px;
                        line-height: 1.36;
                        text-align: center;
                        letter-spacing: 0.06em;
                        text-transform: uppercase;
                        color: var(--background-white-color);
                    }
                    
                    .hero-button {
                        background-color: var(--accent-color);
                        font-family: Roboto;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.87;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.06em;
                        cursor: pointer;
                    }
                    
                    .hero-button,
                    button:hover {
                        color: var(--background-white-color);
                        background-color: var(--accent-color);
                    }
                    
                    .button {
                        color: var(--title-text-color);
                        background-color: var(--team-section-color);
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.62;
                        text-align: center;
                        cursor: pointer;
                    }
                    
                    .skills-list .title {
                        color: var(--title-text-color);
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 1.14;
                    }
                    
                    .skills-list {
                        font-size: 14px;
                        line-height: 1.71;
                    }
                    
                    .caption {
                        color: var(--title-text-color);
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 1.16;
                        text-align: center;
                    }
                    
                    .skills h2 {
                        display: none;
                    }
                    
                    .introduction h3 {
                        color: var(--title-text-color);
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 2;
                        letter-spacing: 00.06em;
                    }
                    
                    .introduction p {
                        font-size: 16px;
                        line-height: 1.87;
                    }
                    
                    .introduction h2 {
                        display: none;
                    }
                    
                    .person-name {
                        color: var(--title-text-color);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.18;
                    }
                    
                    .team {
                        background-color: var(--team-section-color);
                    }
                    
                    .person-card p {
                        font-size: 16px;
                        line-height: 1.18;
                    }
                    
                    .footer {
                        background-color: var(--footer-background-color);
                    }
                    
                    .adress-footer {
                        color: var(--background-white-color);
                        font-size: 14px;
                        line-height: 1.71;
                    }
                    
                    .info a {
                        color: var(--secondary-text-color);
                        font-size: 14px;
                        line-height: 1.71;
                    }
                    
                    .footer-studio {
                        color: var(--background-white-color);
                        font-family: Raleway;
                        font-size: 26px;
                        line-height: 1.19;
                        text-decoration: none;
                    }